.checkbox-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 5px 0;
}

.tooltip {
  position: absolute;
  bottom: 120%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.85em;
  opacity: 0.9;
  white-space: nowrap;
  z-index: 1;
}
