:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  position: fixed;
  width: 100%;
  height: 4.5rem;   
  bottom: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

input[type=text] {
  width: 20%;
}

input[type=text]:focus{
  width: 20%;
}

@media (max-width: 3840px) {
  input[type=text] {
    width: 10em; 
    min-width: 15em;
  }
}

p.word {
  font-size: 2.5em;
  margin-bottom: 0em;
}

p.translation {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  margin-top: 0em;
}

p.conjugation-info {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

p.stats-no-space {
  margin-bottom: 0.5em;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
}